.content{
    width: 100%;
    display: grid;
    gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
    .block {
        border: 1px solid var(--secondary);
        resize: both;
        width: 100%;
        height: 100%;
    }
}