/* You can add global styles to this file, and also import other style files */
$primary: #FFC72C;
$secondary: #E81123;
$accent: #9579C0;
$soft: #7BF1A8;
$black: #1E1E1E;
$white: #E7E7E7;

body{
    margin: 0;    
}