/* You can add global styles to this file, and also import other style files */
//Palette
/* SCSS HEX */
:root{
    --text:#2a2a2a;
    --background: #e6e6e6;
    --primary: #ffc72c;
    --secondary: #CD071E;
    --tertiary: #7A7A7A;
	@media (orefers-color-scheme: dark) {
        --background:#2a2a2a;
        --text: #e6e6e6;
		--primary: #ffc72c;
        --secondary: #9A0D15;
        --tertiary: #00253C;
	}
}
body{
    margin: 0;
    overflow-x: hidden;
}